* {
    padding: 0;
    margin: 0;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import "_grillas.scss";
@import "_estilo-index.scss";
@import "_estilo-galeria.scss";
$border: 2px solid white;
$margin: 20px;
$colores: (ro:#f74520, neg:black, bla:white);
@mixin estilo ($br, $marg, $fs){
    border-radius: $br;
    margin: $marg;
    font-size: $fs;
}


/* Inicio estilo header */
nav {
    background: linear-gradient(to top, black, white);
    border-top: $border;
    border-bottom: $border;

    .nav-a {
        @include estilo(20px, 7px, 20px);
        text-decoration: none;
        background-color:map-get($map: $colores, $key: ro) ;
        color: map-get($map: $colores, $key: bla );
        padding: 7px;
        font-style: italic;
        transition: .5s;

        &:hover {
            background-color: white;
            color: map-get($map: $colores, $key: neg );
            font-weight: bolder;
            font-size: 25px;
        }
    }

    .boton {
        color: white;
        background-color: #f74520;
        font-style: italic;
        font-size: 20px;
        transition: .5s;

        &:hover {
            color: black;
            background-color: white;
        }
    }
}

/* Fin estilo header */

/* Inicio estilo footer */
footer {
    width: 100%;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 50px;
    border-top: $border;
    border-bottom: $border;
    padding-top: 20px;
    padding-bottom: 20px;

    ul {
        list-style: none;
        font-size: 15px;
    }

    .footer-lista-redes {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        margin-top: 10px;

        li {
            margin: 2px;
        }
    }

    a {
        text-decoration: none;
        color: white;
        transition: .5s;

        &:hover {
            font-size: 30px;
            color: red;
        }
    }
}

/* Fin estilo footer */

/* Inicio estilo h1 */
h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: $margin;
    margin-bottom: $margin;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-style: italic;
    font-family: sans-serif;
    text-transform: uppercase;
    animation-name: titulo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: .5s; 
    @keyframes titulo {
        0% {opacity: 0;}
        100% {opacity: 1;}   
    }
}
/* Fin estilo h1 */

/* Inicio MQ 768px */
@media screen and (max-width: 768px) {
        
    /* Inicio estilo header 768px */
    nav .nav-a{
        @include estilo(10px, 2px, 15px);
        background-color: none;
        padding: 2px;
    }
    .pad{
        padding: 2px;
    }
    .icono{
        width: 75%;
        height: 75%;
    }
    nav .boton{
        font-size: 15px;
    }
    /* Fin estilo header 768px */

    /* Inicio estilo footer 768px */
    
    footer{  
        ul {
            list-style: none;
            font-size: 10px;
        }
        a {
            &:hover {
                font-size: 15px;
                color: red;
            }
        }
    }
    .redes{
        width: 75%;
        height: 75%;
    }

    /* Fin estilo footer 768px */

    /* Inicio estilo h1 768px */
    h1{
        font-size: 30px;
    }
    /* Fin estilo h1 768px */
}

/* Inicio MQ 426px */
@media screen and (max-width: 426px) {
    
    /* Inicio estilo header 426px */
    header .nav-a{
        font-size: 10px;
    }
    .icono{
        width: 50%;
        height: 50%;
    }
    nav .boton{
        font-size: 10px;
    }
    /* Fin estilo header 426px */

    /* Inicio estilo footer 426px */
    footer{
        margin-top: 30px;
        ul{
            font-size: 5px;
        }
        a {
            &:hover {
                font-size: 10px;
                color: red;
            }
        }
    }
    .redes{
        width: 50%;
        height: 50%;
    }
    /* Fin estilo footer 426px */

    /* Inicio estilo h1 426px */
    h1{
        font-size: 20px;
    }
    /* Fin estilo h1 426px */
}